<section class="pt-28">
  <span class="mb-16 mx-16">
    <h1 class="text-5xl font-semibold my-4 mx-3 text-center">
      {{ user.firstName }} {{ user.lastName }}
    </h1>
  </span>
</section>

<div class="user-details-container">
  <div class="user-details">
    <app-base-user-details
      [user]="user"
      (userUpdated)="user = $event"
    ></app-base-user-details>

    <hr />

    <app-adres-user-details
      [userId]="user.id"
      [adresses]="user.adresses"
      (addressesUpdated)="user.adresses = $event"
    >
    </app-adres-user-details>

    <app-children-user-details
      [userId]="user.id"
      [children]="user.children"
      (childrenUpdated)="user.children = $event"
    ></app-children-user-details>

    <app-working-hours-user-details
      [userId]="user.id"
      [workingHours]="user.workingHours"
      (workingHoursUpdated)="user.workingHours = $event"
    ></app-working-hours-user-details>

    <app-medicine-user-details
      [userId]="user.id"
      [medicin]="user.medicin"
      (medicinesUpdated)="user.medicin = $event"
    ></app-medicine-user-details>

    <app-evaluation-user-details
      [userId]="user.id"
      [evaluations]="user.evaluations"
      (evaluationsUpdated)="user.evaluations = $event"
    ></app-evaluation-user-details>

    <app-note-user-details
      [userId]="user.id"
      [notes]="user.notes"
      (notesUpdated)="user.notes = $event"
    ></app-note-user-details>

    <app-membership-user-details
      [userId]="user.id"
      [memberships]="user.memberships"
      (membershipsUpdated)="user.memberships = $event"
    ></app-membership-user-details>

    <app-vacation-user-details
      [userId]="user.id"
      [vacations]="user.vacations"
      (vacationsUpdated)="user.vacations = $event"
    ></app-vacation-user-details>

    <app-physical-issue-user-details
      [userId]="user.id"
      [phisicalIssues]="user.phisicalIssues"
      (phisicalIssuesUpdated)="user.phisicalIssues = $event"
    ></app-physical-issue-user-details>

    <div class="delete-button-container">
      <button class="btn btn-primary delete-button" (click)="deleteUser()">
        <strong>Delete User</strong>
      </button>
    </div>
  </div>
</div>
