# Docker
# Build a Docker image
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
- main

resources:
- repo: self

variables:
  tag: '$(Build.BuildId)'
  imagename: 'noworneversports.azurecr.io/frontend'

stages:
- stage: Build
  displayName: Build image
  jobs:
  - job: Build
    displayName: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: Docker@2
      displayName: Login to Container Registry
      inputs:
        command: login
        containerRegistry: 'noworneversports.azurecr.io'
    - task: Docker@2
      displayName: Build an image
      inputs:
        command: build
        dockerfile: '$(Build.SourcesDirectory)/DOCKERFILE'
        tags: |
          $(tag)
    - task: Docker@2
      displayName: push Docker Image
      inputs:
        command: push
        tags: |
          $(imagename):$(tag)
