# Docker
# Build a Docker image
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
- main

resources:
- repo: self

variables:
  tag: '$(Build.BuildId)'

stages:
- stage: Build
  displayName: Build image
  jobs:
  - job: Build
    displayName: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: Docker@2
      displayName: Build an image
      inputs:
        command: build
        dockerfile: '$(Build.SourcesDirectory)/DOCKERFILE'
        tags: |
          $(tag)
        
    - task: Docker@2
      inputs:
        containerRegistry: 'baptisto_docker_sub_sc'
        repository: 's8-frontend'
        command: 'buildAndPush'
        Dockerfile: '**/Dockerfile'
