# Docker
# Build a Docker image
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
- main

resources:
- repo: self

variables:
  tag: '$(Build.BuildId)'
  ImageName: 'frontend'
  AcrName: 'noworneversports'
  ServiceConnectionName: 'applicationregistry'

stages:
- stage: Build
  displayName: Build image
  jobs:
  - job: Build
    displayName: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    
    
    
    
    - task: AzureCLI@2
      displayName: 'Build and Push Docker Image'
      condition: eq(variables['Build.SourceBranch'], 'refs/heads/main')
      inputs:
        azureSubscription: $(ServiceConnectionName)
        scriptType: 'bash'
        scriptLocation: 'inlineScript'
        inlineScript: |
          # Variables
          ACR_NAME=$(AcrName)
          IMAGE_NAME=$(ImageName)
          TAG=$(tag)
 
          # Login to ACR
          az acr login --name $ACR_NAME
 
          # Build Docker image
          docker build -t $ACR_NAME.azurecr.io/$IMAGE_NAME:latest -t $ACR_NAME.azurecr.io/$IMAGE_NAME:$TAG .
 
          # Push images to ACR
          docker push $ACR_NAME.azurecr.io/$IMAGE_NAME:latest
          docker push $ACR_NAME.azurecr.io/$IMAGE_NAME:$TAG
 
 
    - task: AzureCLI@2
      displayName: 'Review ACR image revisions'
      condition: eq(variables['Build.SourceBranch'], 'refs/heads/main')
      inputs:
        azureSubscription: $(ServiceConnectionName)
        scriptType: 'bash'
        scriptLocation: 'inlineScript'
        inlineScript: |
          echo "Repositories: "
          az acr repository list --name $(acrName) --output table
          echo
          echo "Versions of $(imageName)"
          az acr repository show-tags --name $(acrName) --repository $(imageName) --output table