table {
  border-collapse: collapse;
  width: 94%;
  margin-left: 3%;
  margin-right: 3%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.email-column {
  display: table-cell;
}

@media (max-width: 500px) {
  .email-column {
      display: none;
  }
}

.add-button {
  margin: 20px 3%;
  padding: 10px;
  background-color: #ea2929;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  max-width: 100px;
}

.completeProfileTrue {
  color: #4CAF50; 
}

.completeProfileFalse {
  color: #f44336;
}