.user-details-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh; 
    min-width: 300px;
}

.user-details {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 500px;
}

.user-details p {
    font-size: 16px;
    line-height: 1;
    margin: 10px 0;
}

.user-details p strong {
    color: #333;
    font-weight: 600;
}

.user-details p:nth-child(odd) {
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 4px;
}

.user-details p:nth-child(even) {
    padding: 10px;
    border-radius: 4px;
}

hr {
    margin: 10px 0;
    border: 0;
    border-top: 1px solid #807d7d;
}