<section class="pt-28">
  <span class="mx-16">
    <h1 class="text-5xl font-semibold my-4 mx-3 text-center">
      Welkom {{ user.firstName }} {{ user.lastName }}!
    </h1>
  </span>
</section>

<div class="user-details-container">
  <div class="user-details">
    <app-base-user-details
      [user]="user"
      (userUpdated)="user = $event"
    ></app-base-user-details>
    <hr />

    <app-adres-user-details
      [userId]="user.id"
      [adresses]="user.adresses"
      (addressesUpdated)="user.adresses = $event"
    >
    </app-adres-user-details>

    <h2 class="text-xl font-semibold my-4">Memberships</h2>
    <div *ngIf="user.memberships && user.memberships.length">
      <ul>
        <li *ngFor="let membership of user.memberships">
          <p><strong>Is Current:</strong> {{ membership.isCurrent }}</p>
          <p><strong>Fee:</strong> {{ membership.fee }}</p>
          <p>
            <strong>Training Type ID:</strong> {{ membership.trainingTypeId }}
          </p>
          <p><strong>Frequency ID:</strong> {{ membership.frequencyId }}</p>
          <p><strong>Start Date:</strong> {{ membership.startDate }}</p>
          <hr />
        </li>
      </ul>
    </div>

    <app-children-user-details
      [userId]="user.id"
      [children]="user.children"
      (childrenUpdated)="user.children = $event"
    ></app-children-user-details>

    <app-medicine-user-details
      [userId]="user.id"
      [medicin]="user.medicin"
      (medicinesUpdated)="user.medicin = $event"
    ></app-medicine-user-details>

    <app-physical-issue-user-details
      [userId]="user.id"
      [phisicalIssues]="user.phisicalIssues"
      (phisicalIssuesUpdated)="user.phisicalIssues = $event"
    ></app-physical-issue-user-details>

    <app-vacation-user-details
      [userId]="user.id"
      [vacations]="user.vacations"
      (vacationsUpdated)="user.vacations = $event"
    ></app-vacation-user-details>
  </div>
</div>
