p {
    font-size: 16px;
    line-height: 1;
    margin: 10px 0;
}

p strong {
    color: #333;
    font-weight: 600;
}

p:nth-child(odd) {
    background-color: #f1f1f1;
    padding: 5px;
    border-radius: 4px;
}

p:nth-child(even) {
    padding: 5px;
    border-radius: 4px;
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input 
textarea {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 5px 20px;
    /* background-color: #8f9fb1; */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

hr {
    margin: 10px 0;
    border: 0;
    border-top: 1px solid #807d7d;
}

.delete-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.delete-button {
    background-color: #ea2929;
    border: none;
    border-radius: 4px;
    margin-top: 100px;
    margin-bottom: 20px;
    cursor: pointer;
    padding: 10px 20px;
    color: white;
}

.save-btn {
    background-color: #319742;
}

.edit-btn {
    background-color: #3477cf;
}

.cancel-btn {
    background-color: #ea2929;
    margin-top: 10px;
    margin-left: 5px;
}

.add-btn {
    background-color: #319742;
}