<section class="pt-28">
  <!--    main image/page -->
  <div class="background">
    <h1 class="text-5xl font-semibold text-center pt-32">
      Professional personal training
    </h1>
    <h3 class="text-2xl text-center text-gray-500 pt-2">
      Haal alles uit jezelf. Sport met passie!
    </h3>
  </div>
  <!--    quote -->
  <div class="background-mid flex justify-center items-center">
    <h2
      class="text-center text-3xl font-semibold py-20 text-white font-serif px-5 max-w-4xl leading-relaxed"
    >
      Ons concept van personal training stelt jouw persoonlijke doelen centraal.
      Wij zorgen er samen voor dat je het maximale uit jezelf haalt en sport met
      passie en plezier.
    </h2>
  </div>

  <!--    concrete information -->
  <div class="flex justify-center items-center my-32">
    <span class="text-center max-w-3xl text-base leading-relaxed">
      Wij zijn gespecialiseerd in het geven van personal training aan
      topsporters. Dankzij jarenlange ervaring als professionele sporter op
      topniveau weten we wat ervoor nodig is om het beste uit jezelf te halen.
      Jouw doelen én de sport die jij op topniveau beoefent staan bij ons
      centraal. Denk aan tennissers, voetballers, paardrijders, zwemmers,
      (kick)boksers en (ijs)hockeyers. Je kunt samen met ons werken aan doelen
      als meer explosiviteit, kracht, snelheid en wendbaarheid. De trainingen
      zorgen ook voor een vermindering van blessures en klachten en helpen je om
      beter te presteren. Maar zeker ook het mentale aspect is belangrijk.</span
    >
  </div>

  <section class="bg-gray-100">
  <!--  detailed information 1 -->
  <div class="flex flex-col items-center h-screen lg:flex-row w-fit mx-auto min">
    <div class="bg-white mt-20 text-lg h-fit max-w-[700px] px-3">
      <h2 class="text-2xl my-7 text-center">Sport specifieke training</h2>
      <span class="px-4 text-left"
        >De sport specifieke training van Now Or Never Sports is erop gericht om
        nóg beter te worden in de sport die jij beoefent. De sport specifieke
        training, met functionele training als basis, richt zich op
        bewegingspatronen die jij maakt tijdens het beoefenen van jouw sport. De
        verbetering die je hiermee realiseert is noodzakelijk als topsporter.<br /><br />De
        volgende doelen kunnen worden bereikt met sport specifieke
        training:</span
      >
      <ul class="list-disc text-left text-lg leading-loose pl-5 max-w-3xl pb-16">
        <li>Sport specifieke onderdelen verbeteren</li>
        <li>Maximale kracht en explosiviteit</li>
        <li>Sterkere core en verhoogde wendbaarheid</li>
        <li>Startsnelheid en acceleratie</li>
        <li>Perfecte coördinatie, souplesse en controle</li>
        <li>Uithoudingsvermogen</li>
        <li>Voorbereiding op een nieuw seizoen</li>
        <li>Blessurepreventie of versneld herstel</li>
      </ul>
      <div class="flex justify-center items-center mb-4">
        <app-contact-button></app-contact-button>
      </div>
    </div>
    <div class="mb-8 lg:mt-8">
      <img ngSrc="../../../assets/proferssonal training/foto-1.jpg" height="600" width="450" alt="image"/>
    </div>
  </div>
  <!--  2 -->
  <div class="flex flex-col items-center h-screen lg:flex-row w-fit mx-auto min">
    <div class="mb-8 lg:mt-8">
      <img ngSrc="../../../assets/proferssonal training/foto-2.jpg" height="600" width="450" alt="image"/>
    </div>
    <div class="bg-white mt-5 text-lg h-fit max-w-[700px] px-3">
      <h2 class="text-2xl my-7 text-center">Small group professional training</h2>
      <span class="px-4 text-left"
        >Bij Now Or Never Sports kun je ook kiezen voor small group professional
        training. Tijdens deze sessies ga je in kleine groepen aan de slag met
        andere professionals om je doelen te bereiken. Small group professional
        training is een persoonlijke, motiverende en afwisselende
        trainingsmethode waaraan je met (con)collega’s kunt deelnemen.</span
      >
      <div class="flex justify-center items-center mb-4">
        <app-contact-button></app-contact-button>
      </div>
    </div>
  </div>
  <!--  3 -->
  <div class="flex flex-col items-center h-screen lg:flex-row w-fit mx-auto min">
    <div class="bg-white mt-5 text-lg h-fit max-w-[700px] px-3">
      <h2 class="text-2xl my-7 text-center">Mentale coaching</h2>
      <span class="px-4 text-left"
        >In de topsport is het belangrijk dat je mentaal sterk bent. De top
        bereiken is niet eenvoudig, evenals presteren op topniveau. Mentale
        begeleiding van iemand die de klappen van de zweep kent kan daarbij hulp
        bieden. Now Or Never Sports heeft ervaring op topsportniveau én de
        kennis om de mentale begeleiding te bieden.</span
      >
      <div class="flex justify-center items-center mb-4">
        <app-contact-button></app-contact-button>
      </div>
    </div>
    <div class="mb-8 lg:mt-8">
      <img ngSrc="../../../assets/proferssonal training/foto-3.jpg" height="400" width="700" alt="image"/>
    </div>
  </div>
  <!--  4 -->
  <div class="flex flex-col items-center h-screen lg:flex-row w-fit mx-auto min">
    <div class="mb-8 lg:mt-8">
      <img ngSrc="../../../assets/proferssonal training/foto-4.jpg" height="400" width="500" alt="image"/>
    </div>
    <div class="bg-white mt-5 text-lg h-fit max-w-[700px] px-3">
      <h2 class="text-2xl my-7 text-center">Professional training op locatie</h2>
      <span class="px-4 text-left"
        >We bieden ook begeleiding op locatie aan. Onze personal trainers nemen
        de trainingsmiddelen mee. Het enige waar jij voor hoeft te zorgen is
        voldoende trainingsruimte om de sport specifieke oefeningen tot
        uitvoering te kunnen brengen.</span
      >
      <div class="flex justify-center items-center mb-4">
        <app-contact-button></app-contact-button>
      </div>
    </div>
  </div>
  </section>
</section>
