<section class="pt-28">
  <!--    main image/page -->
  <div class="background pt-32">
    <app-title [title]="'Personal training'"></app-title>
    <h3 class="text-2xl text-center text-gray-500 pt-2">
      Haal alles uit jezelf. Sport met passie!
    </h3>
  </div>

  <!--    quote -->
  <div class="background-mid flex justify-center items-center">
    <h2
      class="text-center text-3xl font-semibold py-20 text-white font-serif px-5 max-w-4xl leading-relaxed"
    >
      Ons concept van personal training stelt jouw persoonlijke doelen centraal.
      Wij zorgen er samen voor dat je het maximale uit jezelf haalt en sport met
      passie en plezier.
    </h2>
  </div>

  <!--    concrete information -->
  <div class="flex flex-col items-center mx-8">
    <h3 class="text-left text-3xl font-semibold pt-16 pb-5">
      Personal Training bij Now Or Never Sports
    </h3>
    <ul
      class="list-disc text-left text-lg leading-loose pl-5 max-w-3xl pb-16"
    >
      <li>
        Persoonlijk advies & trainingsprogramma op maat (waarin jouw doel
        centraal staat)
      </li>
      <li>
        Functionele training, afgestemd op de beweging die jij doet in het
        dagelijks leven
      </li>
      <li>Periodieke meting</li>
      <li>
        Voedingsadvies/schema, samengestelde maaltijden zijn te verkrijgen via
        NONS
      </li>
      <li>Functionele training met max. 6 personen (Smallgroup)</li>
    </ul>
  </div>

  <section class="bg-gray-100">
    <!--  detailed information 1 -->
    <div class="flex flex-col items-center h-screen lg:flex-row w-fit mx-auto min">
      <div class="bg-white mt-5 text-lg h-fit max-w-[700px] px-3">
        <h2 class="text-2xl my-7 text-center">Persoonlijk advies & trainingsprogramma</h2>
        <span class="px-4 text-left"
          >We beginnen met een vrijblijvende kennismaking. Tijdens dit gesprek
          bespreken we je persoonlijke doelen om vast te stellen welk
          trainingsprogramma het beste bij je past. Om goed te kunnen inspelen
          op de behoefte van jouw lichaam evalueren we je voortgang en het
          trainingsprogramma regelmatig. Aan de hand van periodieke metingen
          kunnen we het trainingsprogramma bijstellen.</span
        >
        <div class="flex justify-center items-center mb-4">
          <app-contact-button></app-contact-button>
        </div>
      </div>
      <div class="mb-8 lg:mt-8">
        <img
          ngSrc="../../../assets/personal training/foto-1.jpg"
          height="500"
          width="400"
          alt="image"
        />
      </div>
    </div>
    <!--  2 -->
    <div class="flex flex-col items-center h-screen lg:flex-row w-fit mx-auto min min-h-min">
      <div class="lg:mt-8">
        <img
          ngSrc="../../../assets/personal training/foto-2.jpg"
          height="650"
          width="500"
          alt="image"
        />
      </div>
      <div class="bg-white text-lg h-fit max-w-[700px] px-3">
        <h2 class="text-2xl my-7 text-center">Functionele training</h2>
        <span class="px-4 text-left"
          >Functionele training vormt de basis van de trainingsprogramma’s van
          Now Or Never Sports. Deze trainingsmethode richt zich op
          bewegingspatronen van het hele lichaam in plaats van op het isoleren
          van individuele spiergroepen. Het grote voordeel hiervan is dat je
          lichaamshouding en rompstabiliteit verbetert en eventuele disbalans in
          je lichaam vermindert. Onze functionele trainingen zijn afgestemd op
          jouw lichaam, levensstijl, beroep en/of de sport die je beoefent.
          Hierdoor heb je in het dagelijkse leven veel profijt van de
          inspanningen die je doet tijdens onze sessies.</span
        >
        <div class="flex justify-center items-center mb-4">
          <app-contact-button></app-contact-button>
        </div>
      </div>
    </div>
    <!--  3 -->
    <div class="flex flex-col items-center h-screen lg:flex-row w-fit mx-auto min min-h-min">
      <div class="bg-white mt-5 text-lg h-fit max-w-[620px] px-3">
        <h2 class="text-2xl my-7 text-center">Periodieke meting</h2>
        <span class="px-4 text-left"
          >Je voortgang wordt iedere maand gemeten door gebruik te maken van
          onze 4-punts huidplooimeter en de omtrek van je lichaamsdelen te
          meten. Hiermee brengen we je BMI, BMR en AMR in kaart.</span
        >
        <div class="flex justify-center items-center mb-4">
          <app-contact-button></app-contact-button>
        </div>
      </div>
      <div class="lg:mt-8">
        <img
          ngSrc="../../../assets/personal training/foto-3.jpg"
          height="400"
          width="600"
          alt="image"
        />
      </div>
    </div>
    <!--  4 -->
    <div class="flex flex-col items-center h-screen lg:flex-row w-fit mx-auto min min-h-min">
      <div class="lg:mt-8">
        <img
          ngSrc="../../../assets/personal training/foto-4.jpg"
          height="400"
          width="500"
          alt="image"
        />
      </div>
      <div class="bg-white text-lg h-fit max-w-[620px] px-3">
        <h2 class="text-2xl my-7 text-center">Voedingsadvies</h2>
        <span class="px-4 text-left"
          >Now Or Never Sports maakt samen met jou een voedingsplan gebaseerd op
          jouw doelstellingen. Het voedingsplan bestaat uit een analyse van je
          huidige voedingspatroon. Aan de hand daarvan geven we je een
          voedingsadvies en uitleg over voedingsprincipes. Dit geeft je
          handvatten om ook op de lange termijn een gezond voedingspatroon vol
          te houden.</span
        >
        <div class="flex justify-center items-center mb-4">
          <app-contact-button></app-contact-button>
        </div>
      </div>
    </div>
    <!--  5 -->
    <div class="flex flex-col items-center h-screen lg:flex-row w-fit mx-auto min pb-7">
      <div class="bg-white mt-5 text-lg h-fit max-w-[620px] px-3">
        <h2 class="text-2xl my-7 text-center">Small group functional training</h2>
        <span class="px-4 text-left"
          >Bij Now Or Never Sports kun je ook kiezen voor small group functional
          training. Tijdens deze sessies ga je in kleine groepen (maximaal 6
          personen) aan de slag om je doelen te bereiken. Small group functional
          training is een gezellige, persoonlijke, motiverende en afwisselende
          trainingsmethode waarin je op je eigen tempo kunt deelnemen.<br />Je
          kunt kiezen om zelf een groep samen te stellen of wij stellen een
          groep samen van mensen met vergelijkbare doelen.</span
        >
        <div class="flex justify-center items-center mb-4">
          <app-contact-button></app-contact-button>
        </div>
      </div>
      <div class="mb-8 lg:mt-8">
        <img
          ngSrc="../../../assets/personal training/foto-5.jpg"
          height="600"
          width="700"
          alt="image"
        />
      </div>
    </div>
  </section>
</section>
