.background {
  position: relative;
  width: 100%;
  height: calc(100vh - 350px);
  overflow: hidden;
}

.background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../../assets/life-coach-09.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(1px);
  z-index: 1;
}

.background::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(84, 107, 128, 0.6);
  z-index: 2;
}

.background > * {
  position: relative;
  z-index: 3;
  color: white;
}

.background-mid {
  background-color: #24292e;
  height: 250px;
}

.trainers-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  margin: 80px 20px 50px;
}
