mat-icon {
  font-size: 50px;
  width: 50px;
  height: 50px;
  margin-bottom: 25px;
  color: #375169;
}

.triangle {
  position: absolute;
  border: 6px solid #18181b;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 110px;
  clip-path: polygon(100% 0, 100% 100%, 0% 100%);
}

.triangle-2 {
  position: absolute;
  border: 10px solid #18181b;
  margin-top: -1px;
  left: 0;
  width: 100%;
  height: 100px;
  clip-path: polygon(0 0, 0 100%, 100% 0);
}
